<div class="stats-overview">
  <h2>Statistics Overview</h2>
  <div class="stat-items">
    <div class="stat-item">
      <i class="icon-courses"></i>
      <h3>Total Courses</h3>
      <p>{{ totalCourses }}</p>
    </div>
    <div class="stat-item">
      <i class="icon-students"></i>
      <h3>Total Students</h3>
      <p>{{ totalStudents }}</p>
    </div>
    <div class="stat-item">
      <i class="icon-reviews"></i>
      <h3>Total Reviews</h3>
      <p>{{ totalReviews }}</p>
    </div>
  </div>
  <canvas id="myChart" width="400" height="100"></canvas> <!-- إضافة ارتفاع وعرض -->
</div>
