
.body {
  font-family: 'Titillium Web', sans-serif;
}

.stats-overview {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(106, 0, 0, 0.1);

  h2 {
    color: #450000;
    margin-bottom: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: relative; /* لجعل ::after يتناسب مع h2 */
    margin-bottom: 10px 10px;
     /* ارتفاع بين النص والخط */
  }

  h2::after {
    content: ''; /* محتوى فارغ لإنشاء الخط */
    position: absolute; /* لجعل الخط فوق النص */
    left: 0; /* محاذاة الخط إلى اليسار */
    bottom: -5px; /* ارتفاع الخط تحت النص */
    width: 5%; /* عرض الخط (يمكنك تعديله) */
    height: 2px; /* ارتفاع الخط */
    background-color: #160005; /* لون الخط (يمكنك تعديله) */
  }
}

.stat-items {
  display: flex; /* جعل العناصر في صف أفقي */
  justify-content: space-between; /* توزيع العناصر بالتساوي */
}

.stat-item {
  flex: 1; /* جعل كل عنصر يأخذ نفس المساحة */
  margin: 0 10px; /* إضافة هوامش بين العناصر */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  text-align: center; /* محاذاة النص في المنتصف */
}

.stat-item h3 {
  margin: 0;
  font-size: 1.2em;
}

.stat-item p {
  font-size: 1.5em;
  font-weight: bold;
}

.icon-courses, .icon-students, .icon-reviews {
  font-size: 2em; /* حجم الأيقونات */
  margin-bottom: 10px; /* مسافة بين الأيقونة والعنوان */
}
