<header>
  <button class="menu-btn" (click)="toggleSidebar()">
    <i class="fas fa-bars"></i>
  </button>

  <div class="logo-container">
    <a routerLink="/" title="Go to Home">
      <img src="assets/images/logo.png" alt="SDK Akademie Logo" class="logo">
    </a>
  </div>

  <nav class="navbar">
    <ul>
      <li><a routerLink="/" routerLinkActive="active">{{ 'HOME' | translate }}</a></li>
      <li><a routerLink="/courses" routerLinkActive="active">{{ 'COURSES' | translate }}</a></li>
      <li><a routerLink="/about" routerLinkActive="active">{{ 'ABOUT' | translate }}</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">{{ 'CONTACT' | translate }}</a></li>
    </ul>
  </nav>

  <div class="header-actions">
    <div *ngIf="!isLoggedIn" class="auth-icons">
      <a routerLink="/auth/register" title="{{ 'REGISTER' | translate }}">
        <i class="fas fa-user-plus"></i>
      </a>
      <a routerLink="/auth/login" title="{{ 'LOGIN' | translate }}">
        <i class="fas fa-sign-in-alt"></i>
      </a>
    </div>

    <div *ngIf="isLoggedIn" class="user-profile">
      <a routerLink="/" class="logo-link" (click)="goToProfile()" (touchstart)="goToProfile()">
        <i *ngIf="!profilePictureUrl || profilePictureUrl === 'assets/images/default-profile.jpg'" class="fas fa-user-circle"></i>
        <img *ngIf="profilePictureUrl && profilePictureUrl !== 'assets/images/default-profile.jpg'" [src]="profilePictureUrl" alt="User Profile Picture" class="user-profile-image">
      </a>
    </div>
  </div>
</header>

<div class="sidebar" [ngClass]="{'open': isSidebarOpen}">
  <button class="close-btn" (click)="toggleSidebar()">&times;</button>
  <nav>
    <ul>
      <li><a (click)="navigateAndCloseSidebar('/')">{{ 'HOME' | translate }}</a></li>
      <li><a (click)="navigateAndCloseSidebar('/courses')">{{ 'COURSES' | translate }}</a></li>
      <li><a (click)="navigateAndCloseSidebar('/about')">{{ 'ABOUT' | translate }}</a></li>
      <li><a (click)="navigateAndCloseSidebar('/contact')">{{ 'CONTACT' | translate }}</a></li>
  </ul>
  </nav>
</div>
