@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


$primary-color: #013a20;
$secondary-color: #ff6f61;
$background-color: #f9f9f9;
$text-color: #333;

// تعريف mixin للعناوين
@mixin gradient-title {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  background: linear-gradient(90deg, $secondary-color, #d5b4ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, text-shadow 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 0, 0, 0) 100%);
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: -1;
  }

  &:hover {
    transform: scale(1.1);
    text-shadow: 0 8px 20px rgba(255, 255, 255, 0.8);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}

.about {
  padding: 60px 40px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.about h2 {
  position: relative;
  font-size: 3rem; /* حجم الخط الكبير للتأثير */
  font-weight: 700; /* نص عريض */
  margin: 0 0 70px 0;
  padding: 0;
  color: #fff; /* لون النص الأبيض */
  text-transform: uppercase; /* تحويل النص إلى أحرف كبيرة */
  letter-spacing: 2px; /* تباعد الأحرف لأسلوب عصري */
  display: inline-block;
  background: linear-gradient(90deg, #ff6f61, #d5b4ff); /* تدرج لوني في الخلفية */
  -webkit-background-clip: text; /* قص التدرج اللوني على النص */
  background-clip: text;
  color: transparent; /* إخفاء لون النص الأصلي */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* تأثير ظل للعمق */
  transition: transform 0.3s ease, text-shadow 0.3s ease; /* تأثير التمرير */
}

.about h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 0, 0, 0) 100%);
  transform: translate(-50%, -50%);
  opacity: 0.5;
  z-index: -1;
}

.about h2:hover {
  transform: scale(1.1); /* تكبير خفيف عند التمرير */
  text-shadow: 0 8px 20px rgba(255, 255, 255, 0.8); /* ظل نصي معزز عند التمرير */
}

.about-content {
  display: flex;
  flex-direction: column; /* لعرض العناصر في عمود */
  align-items: center; /* محاذاة العناصر في المركز */
  gap: 20px; /* مساحة بين العناصر */
  width: 100%; /* اجعل العرض 100% */
  max-width: 1200px; /* تحديد الحد الأقصى للعرض */
  margin: 0 auto; /* محاذاة المحتوى في المنتصف */

  .about-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* اجعل العرض 100% */
    height: 30vh; /* ارتفاع العنصر */
    margin: 0; /* إزالة الهوامش */
    padding: 0 20px; /* زيادة الحدود من اليمين واليسار */
    color: #e0e0e0; /* لون النص */
    font-family: 'Titillium Web', sans-serif; /* خط النص */
    text-align: center; /* محاذاة النص إلى المنتصف */
    border-radius: 8px; /* زوايا دائرية */

    &.banner-large {
      background-image: url('/assets/images/welcome.png'); /* مسار النسبي */
      background-size: cover; /* تجعل الصورة تغطي المساحة */
      background-position: center; /* مركز الصورة */
      height: 30vh; /* اجعل ارتفاع العنصر بنسبة 30% من ارتفاع نافذة العرض */
      width: calc(100% + 40px); /* زيادة العرض قليلاً لتغطية المساحة بالكامل */
      margin: 10px 0;
    }
    &.banner-medium {
      background-image: url('/assets/images/tailored.jpg'); /* الصورة الثانية */
      background-size: cover;
      background-position: center;
      flex: 1; /* جعل العنصر يأخذ مساحة متساوية */
      margin: 0 10px; /* حدود بسيطة من اليمين واليسار */
      height: 200px; /* قم بتعديل الارتفاع حسب الحاجة */
  }

    &.banner-small {
      background-image: url('/assets/images/join.jpg'); /* مسار النسبي */
      background-size: cover;
      background-position: center;
      flex: 1;
      height: 200px;
      margin: 0 10px;
    }
    &.banner-extra-small {
      background-image: url('/assets/images/travel.jpeg'); /* الصورة الرابعة */
      background-size: cover;
      background-position: center;
      flex: 1; /* جعل العنصر يأخذ مساحة متساوية */
      margin: 0 10px; /* حدود بسيطة من اليمين واليسار */
      height: 80vh;
    }
  }

  .about-row {
    display: flex; /* لعرض العناصر بجوار بعضها */
    width: 100%; /* اجعل العرض 100% */
    gap: 20px; /* مساحة بين العناصر */
  }

  .welcome {
    color: #ffffff ;
    font-family: 'Titillium Web', sans-serif;
    font-size: 70px;
    font-weight: bold;
  }

  .join {
    color: #fffefe;
    font-family: 'Titillium Web', sans-serif;
    font-size: 70px;
    font-weight: bold;
  }
  .tailored {
    color: #00ffaa;
    font-family: 'Titillium Web', sans-serif;
    font-size: 70px;
    font-weight: bold;
  }
  .travel {
    color: #fffefe;
    font-family: 'Titillium Web', sans-serif;
    font-size: 70px;
    font-weight: bold;
    margin: 100px;
  }
}



.instructors {

  text-align: center;
  padding: 80px 20px; /* حشو واسع لتحسين المسافة */
  position: relative;
  overflow: hidden;
}

.instructors h3 {
  position: relative;
  font-size: 3rem; /* حجم الخط الكبير للتأثير */
  font-weight: 700; /* نص عريض */
  margin: 0 0 70px 0;
  padding: 0;
  color: #fff; /* لون النص الأبيض */
  text-transform: uppercase; /* تحويل النص إلى أحرف كبيرة */
  letter-spacing: 2px; /* تباعد الأحرف لأسلوب عصري */
  display: inline-block;
  background: linear-gradient(90deg, #ff6f61, #d5b4ff); /* تدرج لوني في الخلفية */
  -webkit-background-clip: text; /* قص التدرج اللوني على النص */
  background-clip: text;
  color: transparent; /* إخفاء لون النص الأصلي */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* تأثير ظل للعمق */
  transition: transform 0.3s ease, text-shadow 0.3s ease; /* تأثير التمرير */
}

.instructors h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 0, 0, 0) 100%);
  transform: translate(-50%, -50%);
  opacity: 0.5;
  z-index: -1;
}

.instructors h3:hover {
  transform: scale(1.1); /* تكبير خفيف عند التمرير */
  text-shadow: 0 8px 20px rgba(255, 255, 255, 0.8); /* ظل نصي معزز عند التمرير */
}

.instructor h4 {
  font-family: 'Titillium Web', sans-serif;
}

.location {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 40px;
  text-align: center;

  h2 {
    @include gradient-title; //
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.1rem;
    color: $text-color;
    margin-bottom: 20px;
  }

  iframe {
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

/* التعديلات الأساسية لتصغير حجم العناصر وتنسيقها بشكل مناسب */
.instructor-list {
  display: flex;
  flex-wrap: wrap; /* يسمح بتفاف العناصر إلى الأسطر التالية */
  gap: 15px; /* تقليل المسافة بين العناصر */
  justify-content: center; /* محاذاة العناصر في الوسط */
}

.instructor {
  display: flex;
  flex-direction: column; /* ترتيب المحتوى عمودياً */
  align-items: center;
  border: 2px solid #8a0000; /* حافة داكنة حول العنصر */
  border-radius: 8px;
  padding: 15px; /* تقليل الحشو */
  box-shadow: 0 4px 8px linear-gradient(45deg, #ff6f61, #d5b4ff);
  background: white; /* تدرج خلفية */
  max-width: 300px; /* تحديد أقصى عرض أصغر */
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* تأثير التمرير */
  margin: 10px; /* تباعد أقل بين العناصر */
  box-sizing: border-box; /* يشمل الحواف والحشو في العرض الإجمالي */
}

.instructor-picture {
  width: 100%;
  height: 250px; /* تقليل ارتفاع الصورة */
  overflow: hidden; /* إخفاء أي جزء من الصورة يتجاوز الحاوية */
  border-radius: 8px;
  margin-bottom: 10px; /* تقليل التباعد بين الصورة ومحتوى المعلومات */
  display: flex; /* محاذاة الصورة في وسط العنصر */
  align-items: center;
  justify-content: center;
}

.instructor-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* تغطية الحاوية بشكل جيد */
}

.instructor-info {
  text-align: center; /* محاذاة النص في الوسط */
  color: #080808; /* لون النص الأبيض */
  background: rgba(255, 252, 252, 0.568); /* خلفية مظللة للتباين مع النص */
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* ظل خفيف لتحسين التباين */
  box-sizing: border-box; /* يشمل الحواف والحشو في العرض الإجمالي */
}
.instructor-info:hover {
  background-color: #e3e2e2;
}

.instructor-info h4 {
  font-size: 1rem; /* تقليل حجم الخط */
  color: #724c01; /* لون النص البارز */
  margin-bottom: 5px; /* تقليل التباعد بين العنوان والمحتوى */
}

.instructor-info p {
  font-size: 0.9rem; /* تقليل حجم نص الوصف */
  color: #490204; /* لون نص الثانوي */
  line-height: 1.4;
  margin: 0;
}

    h4 {
      font-size: 1.2rem;
      color: #ffdfba; /* لون النص البارز */
      margin-bottom: 10px; /* تباعد بين العنوان والمحتوى */
    }

    p {
      font-size: 1rem;
      color: #e0e0e0; /* لون نص الثانوي */
      line-height: 1.4;
      margin: 0;

}


