@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


$primary-color: #013a20;
$secondary-color: #ff6f61;
$background-color: #f9f9f9;
$text-color: #333;

// تعريف mixin للعناوين
@mixin gradient-title {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  background: linear-gradient(90deg, $secondary-color, #d5b4ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, text-shadow 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 0, 0, 0) 100%);
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: -1;
  }

  &:hover {
    transform: scale(1.1);
    text-shadow: 0 8px 20px rgba(255, 255, 255, 0.8);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}

.about {
  padding: 60px 40px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.about h2 {
  position: relative;
  font-size: 3rem; /* حجم الخط الكبير للتأثير */
  font-weight: 700; /* نص عريض */
  margin: 0 0 70px 0;
  padding: 0;
  color: #fff; /* لون النص الأبيض */
  text-transform: uppercase; /* تحويل النص إلى أحرف كبيرة */
  letter-spacing: 2px; /* تباعد الأحرف لأسلوب عصري */
  display: inline-block;
  background: linear-gradient(90deg, #ff6f61, #d5b4ff); /* تدرج لوني في الخلفية */
  -webkit-background-clip: text; /* قص التدرج اللوني على النص */
  background-clip: text;
  color: transparent; /* إخفاء لون النص الأصلي */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* تأثير ظل للعمق */
  transition: transform 0.3s ease, text-shadow 0.3s ease; /* تأثير التمرير */
}

.about h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 0, 0, 0) 100%);
  transform: translate(-50%, -50%);
  opacity: 0.5;
  z-index: -1;
}

.about h2:hover {
  transform: scale(1.1); /* تكبير خفيف عند التمرير */
  text-shadow: 0 8px 20px rgba(255, 255, 255, 0.8); /* ظل نصي معزز عند التمرير */
}

.about-content {
  display: flex;
  flex-direction: column; /* لعرض العناصر في عمود */
  align-items: center; /* محاذاة العناصر في المركز */
  gap: 20px; /* مساحة بين العناصر */
  width: 100%; /* اجعل العرض 100% */
  max-width: 1200px; /* تحديد الحد الأقصى للعرض */
  margin: 0 auto; /* محاذاة المحتوى في المنتصف */

  .about-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* اجعل العرض 100% */
    height: 30vh; /* ارتفاع العنصر */
    margin: 0; /* إزالة الهوامش */
    padding: 0 20px; /* زيادة الحدود من اليمين واليسار */
    color: #e0e0e0; /* لون النص */
    font-family: 'Titillium Web', sans-serif; /* خط النص */
    text-align: center; /* محاذاة النص إلى المنتصف */
    border-radius: 8px; /* زوايا دائرية */

    &.banner-large {
      background-image: url('/assets/images/welcome.png'); /* مسار النسبي */
      background-size: cover; /* تجعل الصورة تغطي المساحة */
      background-position: center; /* مركز الصورة */
      height: 30vh; /* اجعل ارتفاع العنصر بنسبة 30% من ارتفاع نافذة العرض */
      width: calc(100% + 40px); /* زيادة العرض قليلاً لتغطية المساحة بالكامل */
      margin: 10px 0;
    }
    &.banner-medium {
      background-image: url('/assets/images/tailored.jpg'); /* الصورة الثانية */
      background-size: cover;
      background-position: center;
      flex: 1; /* جعل العنصر يأخذ مساحة متساوية */
      margin: 0 10px; /* حدود بسيطة من اليمين واليسار */
      height: 300px; /* زيّد الارتفاع */
    }

    &.banner-small {
      background-image: url('/assets/images/join.jpg'); /* مسار النسبي */
      background-size: cover;
      background-position: center;
      flex: 1;
      height: 300px; /* زيّد الارتفاع */
      margin: 0 10px;
    }
    &.banner-extra-small {
      background-image: url('/assets/images/travel.jpeg'); /* الصورة الرابعة */
      background-size: cover;
      background-position: center;
      flex: 1; /* جعل العنصر يأخذ مساحة متساوية */
      margin: 0 10px; /* حدود بسيطة من اليمين واليسار */
      height: 100vh; /* جعل الارتفاع يغطي كامل الشاشة */
    }
  }

  .about-row {
    display: flex; /* لعرض العناصر بجوار بعضها */
    width: 100%; /* اجعل العرض 100% */
    gap: 20px; /* مساحة بين العناصر */
  }

  .welcome {
    color: #ffffff ;
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px;
    font-weight: bold;
  }

  .join {
    color: #fffefe;
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px;
    font-weight: bold;
  }
  .tailored {
    color: #00ffaa;
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px;
    font-weight: bold;
  }
  .travel {
    color: #fffefe;
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin: 100px;
  }
}

  /* Media Query */
  @media (max-width: 768px) {
    .about-row {
      flex-direction: column; /* اجعل العناصر في عمود */
      align-items: center; /* محاذاة العناصر في المركز */
    }

    .about-banner {
      font-size: 10px;
      line-height: 3; /* زيادة ارتفاع السطر */
      padding: 40px 20px; /* زيادة الحدود العلوية والسفلية حول النص */
      width: 100%; /* اجعل العرض 100% */
      height: auto; /* للسماح للصور بالتمدد تلقائيًا حسب المحتوى */
      margin: 10px 0; /* إضافة هوامش بين العناصر */
    }
  }



/* instructors section */

.instructors h2 {
  font-size: 3rem; /* Large font size for impact */
  font-weight: 700; /* Bold text */
  margin: 0 0 70px 0;
  padding: 0;
  color: #fff; /* White text color */
  text-transform: uppercase; /* Uppercase text for emphasis */
  letter-spacing: 2px; /* Increased letter spacing for modern look */
  display: inline-block;
  background: linear-gradient(90deg, #ff6f61, #d5b4ff); /* Gradient background */
  -webkit-background-clip: text; /* Clip the background gradient to the text */
  background-clip: text;
  color: transparent; /* Hide the original text color */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Shadow for depth */
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.instructors h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 0, 0, 0) 100%);
  transform: translate(-50%, -50%);
  opacity: 0.5;
  z-index: -1;
}

.instructors h2:hover {
  transform: scale(1.1); /* تكبير خفيف عند التمرير */
  text-shadow: 0 8px 20px rgba(255, 255, 255, 0.8); /* ظل نصي معزز عند التمرير */
}

.instructors {
  text-align: center;
  padding: 80px 20px;
  position: relative;
  overflow: hidden;
  font-family: 'Titillium Web', sans-serif;
}

.instructor-content {
  background: linear-gradient(45deg, #ffffff, #d5b4ff43);
  display: flex;
  flex-direction: column; /* استخدام الاتجاه العمودي */
  gap: 40px; /* مساحة أكبر بين العناصر */
}

.instructor-image {
  width: 300px; /* تحديد عرض ثابت أكبر للصورة */
  height: auto; /* ارتفاع تلقائي للحفاظ على نسبة العرض إلى الارتفاع */
  object-fit: cover;
  margin-left: 20px; /* مسافة بين الصورة والنص */
}

.instructor-item {
  display: flex; /* استخدام flex لعرض المحتوى بشكل أفقي */
  align-items: center; /* محاذاة العناصر في المنتصف */
  justify-content: space-between; /* توزيع المساحة بين الصورة والنص */
  background-color: transparent; /* جعل الخلفية شفافة */
  padding: 20px; /* إضافة مساحة داخلية */
}

.instructor-list-wrapper {
  width: 100%;
  background: linear-gradient(45deg, #ff6e6180, #d5b4ff); /* الخلفية الموحدة */
  display: flex;
  justify-content: center; /* توسيط القائمة بداخل الخلفية */
}

.instructor-list {
  display: flex;
  flex-direction: column;
  gap: 40px; /* المسافة بين كل عنصر */
  max-width: 1200px; /* تحديد عرض القائمة */
  width: 100%; /* جعل القائمة تأخذ كامل العرض المحدد */
  padding: 20px; /* مسافة داخلية حول القائمة */
  font-family: 'Titillium Web', sans-serif;

}

.instructor {
  display: flex;
  align-items: center;
  padding: 20px 0; /* مسافة داخلية عمودية فقط */
  position: relative;
  font-family: 'Titillium Web', sans-serif;
}

.instructor:nth-child(odd) .instructor-info {
  text-align: right; /* توجيه النص إلى اليمين */
}

.instructor:nth-child(even) .instructor-info {
  text-align: left; /* توجيه النص إلى اليسار */
}

.instructor:nth-child(odd) {
  justify-content: space-between; /* جعل النص أقصى اليمين والصورة أقصى اليسار */
}

.instructor:nth-child(even) {
  justify-content: space-between; /* جعل النص أقصى اليسار والصورة أقصى اليمين */
  flex-direction: row-reverse; /* عكس ترتيب العناصر */
}

.instructor-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.instructor-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.instructor-info {
  flex: 1; /* أخذ المساحة المتبقية */
  padding: 0 20px;
  max-width: 800px; /* تحديد عرض النص ليكون قليل */
  font-size: 32px; /* تكبير حجم النص */
  line-height: 1.9; /* زيادة تباعد الأسطر */
  word-wrap: break-word; /* كسر النص عند الحاجة لتجنب التمدد الأفقي */
}

.instructor-info h4 {
  margin-bottom: 20px;
  font-size: 36px; /* حجم أكبر للعنوان */
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;

}

.instructor-info p {
  font-size: 24px; /* تكبير حجم النص داخل الفقرة */
  line-height: 1; /* زيادة التباعد بين الأسطر */
}

.instructor-name {
  margin: 0; /* إزالة الهوامش العليا والسفلى */
  font-size: 2rem; /* زيادة حجم الخط قليلاً للتأثير */
  font-family: 'Titillium Web', sans-serif;
  color: #8B0000; /* لون داكن لتمييز النص */
  text-align: center; /* محاذاة النص في المنتصف */
  text-transform: uppercase; /* تحويل النص إلى حروف كبيرة */
  letter-spacing: 1px; /* زيادة المسافة بين الحروف */
  border-bottom: 2px solid #390500; /* إضافة خط سفلي بلون مميز */
  padding-bottom: 5px; /* مساحة داخلية أسفل النص */
  transition: color 0.3s ease, transform 0.3s ease; /* إضافة تأثير انتقال */

}

.instructor-name::after {
  content: "";
  display: block;
  width: 50%; /* عرض الخط السفلي */
  height: 4px; /* ارتفاع الخط السفلي */
  margin: 5px auto; /* مركز الخط السفلي */
  transition: transform 0.3s ease; /* تأثير سلس عند التحريك */
}

.instructor-name:hover {
  color: #170035; /* تغير لون النص عند التحويم */
  transform: translateY(-3px); /* تحريك الاسم للأعلى عند التحويم */
}

.instructor-position {
  font-size: 1.5rem; /* حجم خط أصغر للمسمى الوظيفي */
  color: #777; /* لون رمادي للمسمى الوظيفي */
  margin: 0 0 15px 0; /* مساحة تحت المسمى الوظيفي */
}


/* Location section */
.location {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 40px;
  text-align: center;

  h2 {
    @include gradient-title; //
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.1rem;
    color: $text-color;
    margin-bottom: 20px;
  }

  iframe {
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
