@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400&display=swap');

.splide {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background: linear-gradient(45deg, #ff6e6180, #d5b4ff);
  border-radius: 10px;
}

.splide__slide {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.comment-text {
  color: #ffffff !important; /* لون نص الرأي (أبيض) */
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 0;
}

.author {
  color: #685900 !important; /* لون اسم الكاتب (أصفر غامق) */
  font-weight: bold;
  margin-top: 10px;
}

.splide__list {
  display: flex;
  align-items: center;
  font-family: 'Changa', sans-serif;
}
